# Output files
logs
*.log
dist
tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS X trash files
.DS_Store
*.swp

# IDE
.vscode

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Users Environment Variables
.env.*
